/* CSS */
.qv-object-dpi-simple-table div.qv-object-content-container {
	overflow: auto;
}
.qv-object-dpi-simple-table table
{
	font-weight: normal;
   color: #808080;
	background-color: #FFFFFF;
	font-size:15px;

}
@font-face {
    font-family: "na";
    src: url("https://analytics.castsolutions.com.au/resources/fonts/qlikview-sans.ttf");
}

.tablebordered
{
	font-family: 'na';
}
