/* CSS */
.qv-object-dpi-simple-table div.qv-object-content-container {
	overflow: auto;
}
.qv-object-dpi-simple-table table
{
	font-weight: normal;
   color: #808080;
	background-color: #FFFFFF;
	font-size:15px;

}
